.services-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.services-container h1{
    font-size: 40px;
}
.services-content{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}
.services-card{
    border-radius: 1.5rem;
    box-shadow: 1px 2px 10px 4px rgba(0,0,0,0.31);
}
@media only screen and (max-width: 600px) {
    .services-content{
        flex-direction: column;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    /* Styles for tablets */
}